* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font: message-box;
  -moz-user-select: none;
  user-select: none;
}

fieldset {
  border: 1px solid #c1c1c1;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options > li {
  margin: 0;
  padding: 0;
}

.options > li:not(:first-child) {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #c1c1c1;
}

label {
  display: inline-block;
  width: 30%;
}

label .description {
  color: #666;
  margin-left: 1em;
}

.inputBox {
  display: inline-block;
  width: calc(100% - 30% - 1%);
  vertical-align: top;
}

.inputBox input[type="text"],
.inputBox textarea {
  width: 100%;
}

.inputBox textarea {
  height: 10em;
}
