@import "base.css";

fieldset {
  border: 1px solid #c1c1c1;
  margin: 0.5em 0;
}

.deflist {
  display: grid;
  grid-template-columns: 20em 1fr;
  margin: 0;
}

.deflist > dd {
  margin: 0;
}
.deflist > dt:not(:first-of-type),
.deflist > dd:not(:first-of-type) {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #c1c1c1;
}

.deflist > dt {
  grid-column: 1;
  padding-right: 1em;
}
.deflist > dt .description {
  color: #666;
  margin-left: 1em;
}

.deflist > dd {
  grid-column: 2;
}
.deflist > dd input[type="text"],
.deflist > dd textarea {
  font-size: inherit;
  width: 100%;
}
.deflist > dd textarea {
  height: 15em;
}
.deflist .messageBox {
  position: absolute;
  background-color: #ffdfdf;
  color: #333;
  font-style: italic;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-family: monospace;
  -moz-user-select: text;
  user-select: text;
}
