* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  font: message-box;
  -moz-user-select: none;
  user-select: none;
}

fieldset {
  border: 1px solid #c1c1c1;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options > li {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15em 1fr;
}

.options > li:not(:first-child) {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid #c1c1c1;
}

label {
  display: block;
  grid-column: 1 / 1;
}

label .description {
  color: #666;
  margin-left: 1em;
}

.inputBox {
  grid-column: 2 / 2;
}

.inputBox input[type="text"],
.inputBox textarea {
  width: 100%;
}

.inputBox textarea {
  height: 10em;
}
